# editors
*.swp
*~
.idea/
*.iml
.vscode

# firmware
peripheral_firmware/build/
*.uf2
*.hex
*.elf
*.map
.west/

# android
centralBLEAndroid/build/
centralBLEAndroid/app/build/
centralBLEAndroid/.gradle/
centralBLEAndroid/local.properties

# macos
.DS_Store